In [5]:
%load_ext sql
# you can model in lucidchart
# https://lucid.app/invitations/accept/4b725607-4724-4e16-bd29-e8144ecefda1
# https://docs.google.com/presentation/d/1JYqnS-6D_EjYja8sPK9hrZqttsxVm27BYXQgkshBSz8/edit#slide=id.g73d262f796_0_52

In [6]:
%sql postgres://jovyan:si330studentuser@localhost:5432/si330

'Connected: jovyan@si330'

In [7]:
%%sql
CREATE TABLE "item" (
  "price" float,
  "name" varchar(255),
  "description" varchar(4096),
  "company_id" integer
);

 * postgres://jovyan:***@localhost:5432/si330
Done.

[]

In [12]:
%%sql
insert into item (price, name, description, company_id) values (2.0, 'omlette', 'tasty', 0);

 * postgres://jovyan:***@localhost:5432/si330
1 rows affected.

[]

In [13]:
%%sql
select * from item

 * postgres://jovyan:***@localhost:5432/si330
1 rows affected.

[(2.0, 'omlette', 'tasty', 0)]